@font-face {
    font-family: Futura;
    src: url(./Futura-Bold.ttf);
}

@font-face {
    font-family: Gilroy;
    src: url(./Gilroy-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

*::selection {
    color: #fff;
    background-color: #000;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #F7F7F7;
}

#nav {
    width: 100%;
    position: fixed;
    z-index: 99;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 25px;
}

#nav #nav-part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#links {
    padding: 10px;
}

#nav-part1 {
    /* background-color: RED; */
    height: 82px;
    overflow: hidden;
}

#nav-part1 svg {
    display: block;
}

#nav-part2 #links a {
    text-transform: uppercase;

    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 14px;
    margin: 0 20px;
}

#icons {
    padding: 10px;
    border-radius: 50px;
    background-color: #F7F7F7;
}

#nav-part2 #icons i {
    font-size: 18px;
    margin: 0 20px;
    font-weight: 100;
}

#cursor {
    height: 180px;
    width: 180px;
    background-color: rgba(224, 139, 189, 0.814);
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%) scale(0);

}

#page1 {
    min-height: 100vh;
    /* background-color: aqua; */
    position: relative;
    width: 100%;
    padding: 0 1vw;
    padding-top: 20vh;
}

#page1 h1 {
    font-size: 15.8vw;
    text-transform: uppercase;
    font-family: futura;
    line-height: 14vw;
    letter-spacing: -8px;
}

#video-container {
    height: 100vh;
    width: 100%;
    background-color: grey;
    margin-top: 1vw;
    position: relative;
}

#video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#video-container #play {
    padding: 3vw 2.2vw;
    background-color: black;
    color: #fff;
    font-size: 1.3vw;
    position: fixed;
    text-transform: uppercase;
    font-family: futura;
    border-radius: 50%;
    opacity: 0;
    scale: 0;

}

#page2 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 3vw 1vw;
    justify-content: space-between;
}

#page2 .elem {
    height: 100%;
    width: 31%;
    /* background-color: red; */
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2 .elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
}

#page2 .elem .dets {
    height: 50px;
    border-radius: 50px;
    width: 80%;
    position: absolute;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    background-color: rgb(229, 156, 186);
}

#page2 .elem .dets h4,
.dets span,
.dets i{
    text-transform: uppercase;
    font-size: 1.1vw;
}

#page3 {
    min-height: 120vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#page3 .child {
    height: 58vh;
    width: 38vw;
    /* border: 2px solid #000; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page3 .child img {
    height: 100%;
}

#page4 {
    min-height: 70vh;
    width: 100%;
    padding: 3vw 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 2vw;
    border-bottom: 1px solid #000;
}

#page4 h2 {
    text-transform: uppercase;
    font-size: 4.2vw;
    font-weight: bold;
    font-family: futura;
}

#page4 a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
}

#page4 #bottom h4 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.9rem;
}

#page4 #bottom h4:nth-child(1) {
    position: absolute;
    bottom: 2%;
    left: 1%;
}

#page4 #bottom h4:nth-child(2) {
    position: absolute;
    bottom: 2%;
    right: 1%;
}

#page5 {
    min-height: 80vh;
    width: 100%;
    display: flex;
    padding: 4vw 2vw 0 2vw;
    /* justify-content: space-between; */
    /* background-color: red; */
}

#page5 h2 {
    font-size: 5vw;
    font-family: futura;
    line-height: 1;
    text-transform: uppercase;
}

#page5 #left {
    width: 70%;
    padding: 0 4vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

#page5 #left a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
}

#page6 {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    /* background-color: red; */
}

#page6 h1 {
    font-size: 6.5vw;
    text-transform: uppercase;
    text-align: center;
    line-height: 0.9;
    font-family: futura;
}

#page6 a {
    text-decoration: none;
    text-transform: uppercase;
    color: #F7F7F7;
    background-color: #000;
    padding: 1.5vw 5vw;
    border-radius: 50px;
    font-size: 1.2vw;
}

#page6 p {
    display: flex;
    flex-direction: column;
}

#page7 {
    min-height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vw;
    padding: 5vw 0;
}

#page7 .child {
    width: 31%;
    height: 100%;
}

#page7 .text-div {
    display: flex;
    flex-direction: column;
    padding-right: 8vw;
    gap: 4vw;
}

#page7 .text-div h3 {
    font-size: 2vw;
    font-family: futura;
    text-transform: uppercase;
}

#page7 .text-div a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
}

#page7 .img-div img {
    height: 100%;
    width: 100%;
}

#page8 {
    min-height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding: 0 2vw;
}

#page8 input {
    width: 96vw;
    font-size: 4.5vw;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    font-family: futura;
    text-transform: uppercase;
    white-space: nowrap;
    color: #000;
}

#page9 {
    min-height: 100vh;
    width: 100%;
    padding: 3vw 2vw;
}

#page9 #top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#page9 #top .links h4 {
    text-transform: uppercase;
    font-family: futura;
    margin-bottom: 1vw;
}

#page9 a {
    text-decoration: none;
    color: #000;
    display: block;
    transition: color 0.3s ease;
}

#page9 #top a:hover {
    color: #727070;
}

#page9 svg{
    width: 172px;
    height: 173px;
}

#page9 #middle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    color: #363535;
    font-size: 1.3vw;
    text-transform: uppercase;
    margin: 5vw 0;
    flex-wrap: wrap;
}

#page9 #middle a,
#middle span {
    color: #938d8d;
}

#page9 #bottom {
    text-align: center;
}

@media (max-width:600px) {

    #nav {
        /* height: 100px; */
        width: 100%;
        /* background-color: burlywood; */
        position: fixed;
        z-index: 99;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 15px;
    }

    #nav #nav-part2 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    #links {
        padding: 10px;
        display: none;
    }

    #nav-part1 {
        /* background-color: RED; */
        height: 67px;
        overflow: hidden;
    }

    #nav-part1 svg {
        display: block;
        height: 67px;
        width: 80px;
    }

    #nav #twogoodlogo {
        height: 40px;
        margin-left: -20px;
    }

    #icons {
        padding: 7px;
        border-radius: 50px;
        background-color: #F7F7F7;
    }

    #nav-part2 #icons i {
        font-size: 15px;
        margin: 0 20px;
        font-weight: 100;
    }

    #page1 {
        /* background-color: red; */
        min-height: 70vh;
        width: 100%;
        padding: 0 3vw;
        padding-top: 25vh;

    }

    #page1 h1 {
        font-size: 15.5vw;
        letter-spacing: -3px;
    }

    #video-container {
        height: 25vh;
        margin-top: 3vw;
    }

    #video-container #play {
        padding: 9.5vw 7.2vw;
        font-size: 4.5vw;
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 1;
        scale: 1;
        transform: translate(-50%, -50%);
    }

    #page2 {
        min-height: 100vh;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        padding: 5vw 3vw;
        flex-direction: column;
        justify-content: space-between;
        /* background-color: red; */
    }

    #page2 .elem {
        height: 100vh;
        width: 100%;
        /* background-color: red; */
        overflow: hidden;
        margin-bottom: 3vw;
    }

    #page2 .elem .dets {
        height: 40px;
        border-radius: 50px;
        width: 70%;
        position: absolute;
        z-index: 9;
        background-color: rgb(229, 156, 186);

    }

    #page3 {
        min-height: 120vh;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    #page3 .child {
        height: 54vh;
        width: 88vw;
        /* border: 2px solid #000; */
        position: relative;
        padding: 15vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .child img {
        height: 100%;
    }

    #page4 {
        min-height: 60vh;
        gap: 4vw;
    }

    #page4 p {
        text-align: center;
    }

    #page4 h2 {
        font-size: 6.2vw;
    }

    #page4 #bottom h4:nth-child(1) {
        left: 2%;
    }

    #page4 #bottom h4:nth-child(2) {
        right: 2%;
    }

    #page5 {
        min-height: 80vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 0 3vw;
    }

    #page5 h2 {
        font-size: 10vw;
    }

    #page5 #left {
        width: 100%;
        padding: 0;
        gap: 5vw;
    }

    #page6 {
        gap: 8vw;
    }

    #page6 h1 {
        font-size: 8vw;
    }

    #page6 a {
        padding: 4vw 9vw;
        font-size: 3.3vw;
    }

    #page7 {
        gap: 4vw;
        padding: 0 3vw;
    }

    #page7 .child {
        width: 100%;
    }

    #page7 .text-div {
        padding-right: 0;
        gap: 8vw;
    }

    #page7 .text-div h3 {
        font-size: 6vw;
    }

    #page9 {
        padding: 3vw;
    }

    #page9 svg{
        width: 72px;
        height: 73px;
    }

    #page9 #top .links h4 {
        margin-bottom: 2vw;
    }

    #page9 #top{
        gap: 6vw;
    }

    #page9 #middle {
        column-gap: 7vw;
        font-size: 3.9vw;
        margin: 10vw 0;
    }

}